# python 3.10.12, amd-ubuntu-22.04

--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
torchvision
torchaudio
boto3
pdfplumber
PyMuPDF
fasttext==0.9.3
extractous
faster-whisper
paddleocr
paddlepaddle
pydub
ffmpeg-python
numpy
pillow
python-magic
tqdm
rich
pandas
ray
qdrant-client
python-arango


