# Python environments
.venv/
.venv2/
venv/
myenv/

# Python cache
__pycache__/
*.pyc

# Secrets
02-secrets.yml
tmp.md

# Data & Models
data/
data_sample/
chunked/
models/
lid.176.bin
backups/

# Archives
*.zip

# Misc
tmp/
images/
infra/
notebooks/
commands.md
cli.md

# Git-related
.git/
