data/chunked
.venv
tmp
lid.176.bin
backups
models
02-secrets.yml
tmp.md
*.zip
.zip
.venv2
data_sample
myenv
images

__pycache__
__pycache__
*.__pycache__
*.pyc
python3 -m venv myenv
source myenv/bin/activate

pip install --upgrade pip

pip install huggingface_hub docling opencv-python
pip install rapidocr_onnxruntime


