# python 3.10.12, amd-ubuntu-22.04


--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
torchvision
torchaudio
boto3
pymupdf
pdfplumber
opencv-python
rapidocr-onnxruntime
huggingface_hub
pandas
ray
qdrant-client
python-arango
extractous


pip install --upgrade --force-reinstall \
numpy==1.25.2 \
torch==2.3.1+cpu \
torchmetrics==1.8.1 \
transformers==4.41.2 \
safetensors==0.6.2 \
spacy==3.7.5 \
thinc==8.2.5 \
cymem==2.0.11 \
preshed==3.0.10 \
pydantic==2.11.7 \
pydantic-core==2.33.2 \
tqdm==4.67.1 \
datasets==2.14.7 \
sentencepiece==0.2.1 \
protobuf==5.29.5 \
scikit-learn==1.5.2 \
scipy==1.11.4 \
pandas==2.3.2 \
regex==2025.7.34 \
filelock==3.19.1 \
requests==2.32.5 \
huggingface-hub==0.34.4 \
lightning==2.3.3 \
pytorch-lightning==2.5.3 \
wandb==0.17.9 \
relik==1.0.6 \
--extra-index-url https://download.pytorch.org/whl/cpu --no-cache-dir
